.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid red;
}
.add-todo {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #f7f7fb;
}
.container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  background-color: #fff;
  border-radius: 15px;
  height: 80vh;
}
.todo-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0;
}
.todo-view {
  font-size: 14px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 5px;
  overflow: scroll;
  height: 45vh;
}
.card-main {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 5px;
  min-width: 120px;
}

.todo-checkbox {
  grid-column: 1/2;
  cursor: pointer;
  margin-left: 10px;
  display: block;
}

.todo-p {
  grid-column: 2/3;
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.todo-p-check {
  color: aqua;
}

.todo-trash {
  grid-column: 3/4;
  margin-right: 10px;
}

.todo-trash:hover {
  color: red;
  cursor: pointer;
}

.todo-add-container {
  margin-top: 20px;
}

.grid-part-1 {
  grid-column: 1/2;
  border: 1px solid rgba(54, 9, 9, 0.3);
}
.grid-part-2 {
  grid-column: 2/3;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.grid-part-3 {
  grid-column: 3/4;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
