.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid red;
}
.add-todo {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.todo-view {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 5px;
  cursor: pointer;
  text-align: center;
  min-width: 120px;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.card-body p {
  margin-top: 14px;
  margin-right: 10px;
}
.card-body i:hover {
  color: red;
}
